.Container {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
  }

  .column {
    margin-top: 20px;
  }

  .pages {
    font-size: 18px;
  }

  .selectedPage {
    font-weight: bold;
    font-size: 18px;
  }
  